* {
    width: 100%;
}

.main {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 150px;
    width: 100%;
}

.subheads {
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.subheads p {
    width: 100%;
}

@media screen and (min-width: 481px) and (max-width: 770px) {
    
        body {
            height: 100%;
            width: 100%;
        }
        
        footer {
            height: 17%;
            width: 100%;
        }
    
        header {
            height: 12%;
            width: 100%;
        }
    
        .articles {
            height: 53%;
            width: 100%
        }

        .main {
            height: 44%;
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        
        .main p {
            width: 50%;
        }
        .nav {
            height: 17%;
            width: 100%;
        }
        
        .subheads {
            height: 56%;
            width: 100%;
        }
        
        .subheads p {
            width:25%;
        }

}


@media screen and (min-width: 769px) {
    body {
        width: 960px;
    }
    
    footer {
        height: 150px;
        width: 100%;
    }

    header {
        height: 100px;
        width: 960px;
    }

    main {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .articles {
        display: flex;
        flex-direction: column;

    }

    .main {
        display: flex;
        flex-direction: row;
        height: 200px;
        width: 100%;
    }
    
    .nav {
        height: 600px;
        width: 200px;
    }
    
    .subheads {
        height: 250px;
        width: 100%;
    }
    
    .subheads p {
    }
}

