.main >p {

}

.subheads > p {

}

#one {
    background-color: aqua;
}

#two {
    background-color: beige;
}

#three {
    background-color: burlywood;
}

#four {
    background-color: cadetblue;
}

#five {
    background-color: coral;
}

#six {
    background-color: darkgoldenrod;
}

#seven {
    background-color: darkgreen;
}

#eight {
    background-color: darkkhaki;
}

#nine {
    background-color: darkorchid;
}
